
Frontend/BoostWeek2022/Library/ArtifactDB
Frontend/BoostWeek2022/Library/EditorInstance.json
Frontend/BoostWeek2022/Library/PackageManager/ProjectCache
Frontend/BoostWeek2022/Library/PackageManager/ProjectCache.md5
Frontend/BoostWeek2022/Library/SourceAssetDB
Frontend/BoostWeek2022/Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
*.md5
*.json
